/*
 * ---------------------------------------------
 * Author: Isaac Mirabueno
 * Date: Thursday January 25th 2024
 * Last Modified by: Isaac Mirabueno - <imirabueno@yondu.com>
 * Last Modified time: January 25th 2024, 5:52:46 pm
 * ---------------------------------------------
 */


 .drawerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.link {
  text-decoration: none;
}